<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectCampList">
		SELECT CI.CAMP_NAME,
				CI.ADDRESS,
        		CI.LOCATION_1,
        		CI.LOCATION_2,
        		LISTAGG(NA.NATURAL_ATTRI,',') WITHIN GROUP(ORDER BY CN.CAMP_NO) AS NATURAL_ATTRI
        FROM CAMP_NATURAL CN
        JOIN CAMP_INFO CI ON(CN.CAMP_NO = CI.CAMP_NO)
        JOIN "NATURAL" NA ON(CN.NATURAL_NO = NA.NATURAL_NO)
        GROUP BY CI.ADDRESS,CI.LOCATION_1,CI.LOCATION_2, CI.CAMP_NAME, CI.CAMP_NAME
	</entry>

	<entry key="campSelect">
		SELECT CI.CAMP_NAME,
				CI.ADDRESS,
        		CI.LOCATION_1,
        		CI.LOCATION_2,
        		LISTAGG(NA.NATURAL_ATTRI,',') WITHIN GROUP(ORDER BY CN.CAMP_NO) AS NATURAL_ATTRI
        FROM CAMP_NATURAL CN
        JOIN CAMP_INFO CI ON(CN.CAMP_NO = CI.CAMP_NO)
        JOIN "NATURAL" NA ON(CN.NATURAL_NO = NA.NATURAL_NO)
        GROUP BY CI.ADDRESS,CI.LOCATION_1,CI.LOCATION_2, CI.CAMP_NAME, CI.CAMP_NAME
        HAVING CI.LOCATION_1 = ? AND CI.LOCATION_2 = ?
	</entry>
	
	<entry key="cSelect">
		SELECT CAMP_NAME,
				ADDRESS,
				NATURAL_ATTRI
		FROM CAMP_INFO CI
		JOIN CAMP_NATURAL CN USING (CAMP_NO)
		JOIN "NATURAL" NA ON (CN.NATURAL_NO = NA.NATURAL_NO)
		WHERE NATURAL_ATTRI = ? OR NATURAL_ATTRI = ?
	</entry>
</properties>